.livefeed-container {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  border: solid 1px black;
}

.home-points {
  margin-right: 50px;
  margin-top: 25px;
}

.away-points {
  margin-left: 50px;
  margin-top: 25px;
}

@media screen and (max-width: 660px) {
  .livefeed-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    justify-content: center;
    border: solid 1px black;
  }
}